<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DriverRegistrationServlet</servlet-name>
        <servlet-class>com.cabhiering.servlets.DriverRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TravellerRegistrationServlet</servlet-name>
        <servlet-class>com.cabhiering.servlets.TravellerRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverLoginServlet</servlet-name>
        <servlet-class>com.cabhiering.servlets.DriverLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TravellerLoginServlet</servlet-name>
        <servlet-class>com.cabhiering.servlets.TravellerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.cabhiering.servlets.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTraveller</servlet-name>
        <servlet-class>com.cabhiering.servlets.EditTraveller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TravellerHome</servlet-name>
        <servlet-class>com.cabhiering.servlets.TravellerHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TravellerUpdate</servlet-name>
        <servlet-class>com.cabhiering.servlets.TravellerUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TravelRequest</servlet-name>
        <servlet-class>com.cabhiering.servlets.TravelRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAllRequest</servlet-name>
        <servlet-class>com.cabhiering.servlets.MyAllRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TravelStatus</servlet-name>
        <servlet-class>com.cabhiering.servlets.TravelStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardDetails</servlet-name>
        <servlet-class>com.cabhiering.servlets.CardDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverStatus</servlet-name>
        <servlet-class>com.cabhiering.servlets.DriverStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.cabhiering.servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayRequest</servlet-name>
        <servlet-class>com.cabhiering.servlets.DisplayRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailableDrivers</servlet-name>
        <servlet-class>com.cabhiering.servlets.AvailableDrivers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignDriver</servlet-name>
        <servlet-class>com.cabhiering.servlets.AssignDriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailService</servlet-name>
        <servlet-class>com.cabhiering.servlets.MailService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllRequest</servlet-name>
        <servlet-class>com.cabhiering.servlets.AllRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TravellerVerifyCode</servlet-name>
        <servlet-class>com.cabhiering.servlets.TravellerVerifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TravellerResetPassword</servlet-name>
        <servlet-class>com.cabhiering.servlets.TravellerResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SourceDestination</servlet-name>
        <servlet-class>com.cabhiering.servlets.SourceDestination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CabDetailServlet</servlet-name>
        <servlet-class>com.cabhiering.servlets.CabDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Demo</servlet-name>
        <servlet-class>com.cabhiering.servlets.Demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPwdDriver</servlet-name>
        <servlet-class>com.cabhiering.servlets.ForgotPwdDriver</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DriverRegistrationServlet</servlet-name>
        <url-pattern>/DriverRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TravellerRegistrationServlet</servlet-name>
        <url-pattern>/TravellerRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverLoginServlet</servlet-name>
        <url-pattern>/DriverLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TravellerLoginServlet</servlet-name>
        <url-pattern>/TravellerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTraveller</servlet-name>
        <url-pattern>/EditTraveller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TravellerHome</servlet-name>
        <url-pattern>/TravellerHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TravellerUpdate</servlet-name>
        <url-pattern>/TravellerUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TravelRequest</servlet-name>
        <url-pattern>/TravelRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAllRequest</servlet-name>
        <url-pattern>/MyAllRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TravelStatus</servlet-name>
        <url-pattern>/TravelStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardDetails</servlet-name>
        <url-pattern>/CardDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverStatus</servlet-name>
        <url-pattern>/DriverStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayRequest</servlet-name>
        <url-pattern>/DisplayRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailableDrivers</servlet-name>
        <url-pattern>/AvailableDrivers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignDriver</servlet-name>
        <url-pattern>/AssignDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailService</servlet-name>
        <url-pattern>/MailService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllRequest</servlet-name>
        <url-pattern>/AllRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TravellerVerifyCode</servlet-name>
        <url-pattern>/TravellerVerifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TravellerResetPassword</servlet-name>
        <url-pattern>/TravellerResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SourceDestination</servlet-name>
        <url-pattern>/SourceDestination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CabDetailServlet</servlet-name>
        <url-pattern>/CabDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demo</servlet-name>
        <url-pattern>/Demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPwdDriver</servlet-name>
        <url-pattern>/ForgotPwdDriver</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
